
@import compass/css3
@import url(http://fonts.googleapis.com/css?family=Lato:400)


body
	font-family: 'Lato', "Helvetica Neue",Helvetica, Arial, sans-serif

	> hr
		margin: 60px 0

/**
 * ======================= overide bootstrap =======================
 */

.btn
	+border-radius(0,0)

.btn-purple
	border: 1px solid #4b1770 // stroke
	color: white
	position: relative
	z-index: 2
	width: 163px

	+box-shadow(inset 0 1px 0 rgba(255,255,255,.4)) // inner shadow
	+background-image(linear-gradient(bottom, #8827cc 0%, #a937e4 100%)) // gradient overlay
	+text-shadow(rgba(black, 0.6) 0px 1px 0)
	+border-radius(0,0)
	&:hover
		background-color: #8827cc
		color: darken(#fff, 5%)

	&:active
		&:before
			height: 0px
			

	&:before
		content: " "
		position: absolute
		background-color: rgba(39,39,39,.22) // color overlay
		height: 4px
		margin-top: 31px
		margin-left: -50px
		width: 213px


.page-header
	h3
		font-weight: 400
	span
		font-weight: 300
		color: #888
		font-size: 18px

.thumbnail
	+border-radius(0,0)
	position: relative
	overflow: hidden

	.description
		border: 1x solid #9622d0
		display: block
		position: absolute
		top: -600px
		left: 0px
		width: 100%
		height: 100%
		background: rgba(#9622d0, 0.9)
		+transition-property(top)
		+transition-duration(.35s)

		h3, p
			margin: 40px 20px 0 20px
			color: white
		p
			font-size: 16px
			// font-weight: 300
			margin-top: 0px
			color: lighten(#9622d0, 35%)

	&:hover
		.description
			top: 0


a.thumbnail:hover, a.thumbnail:focus
	border: 1px solid #9622d0


// .navbar
// 	.container
// 		width: 1170px


/**
 * ======================= header =======================
 */
header
	color: white
	overflow: hidden
	position: relative
	background: url("../img/header-bg.jpg")
	margin-bottom: 40px
	+text-shadow(rgba(black, 0.6) 0px 1px 0)

	&:after
		content: " "
		position: absolute
		width: 100%
		height: 14px
		bottom: 0
		+background-image(linear-gradient(bottom, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 100%)) // layer fill content

	.bg
		position: relative
		overflow: hidden
		width: 100%
		height: 100%
		+background-image(radial-gradient(center bottom, 500px 450px, rgba(255,255,155,.25) 0%, rgba(255,255,255,0) 100%))

		&:before
			content: " "
			background: url("../img/wind.png") center no-repeat
			background-size: 90% auto
			margin-top: 150px
			width: 100%
			height: 100%
			position: absolute



/**
 * ======================= nav bar =======================
 */
.navbar
	.navbar-inner
		padding-top: 50px
		background: none
		border: 0 
		+border-radius(0px, 0px)
		+box-shadow(#fff 0 0 0)

		.container > a, .nav > li > a
			color: white
			+text-shadow(rgba(black, 0.6) 0px 1px 0)
		.brand
			font-weight: bold


/**
 * ======================= jumbotron =======================
 */
.jumbotron
	margin: 80px 0
	text-align: center
	h2
		font-size: 38px
		line-height: 1.2
		font-weight: bold
		+text-shadow(0 2px 0 rgba(0,0,0,.5)) 

	.lead
		font-size: 21px
		line-height: 2
		color: #de9ffc // text color
		@include text-shadow(0 1px 0 rgba(0,0,0,.7)) // drop shadow

	.btn
		font-size: 21px
		padding: 14px 24px
		padding-top: 10px


/**
 * ======================= services =======================
 */
.services
	.purple
		color: #9622d0

	h4
		margin: 0 0 3px 0
		color: #444
		font-size: 16px
	p
		color: #666
		font-size: 14px
		font-weight: 300

	.icon-stack
		width: 100%

	.icon-stack-base 
		font-size: 3.4em
		margin-top: 6px

	.icon-large
		margin-top: 7px

	.icon-tablet
		font-size: 130%
		margin-top: 10px

	.icon-search
		font-size: 110%
		margin-top: 7px

	.icon-shopping-cart
		font-size: 120%

	.icon-envelope
		font-size: 105%

	.icon-print
		font-size: 120%
		margin-left: 1px

	.icon-facebook
		font-size: 120%

	.item
		margin-bottom: 15px

		&:hover
			cursor: pointer
			.purple
				color: #666

/**
 * ======================= method =======================
 */
.featurette
	border-bottom: 1px solid #efefef
	margin-bottom: 80px

	h2
		margin-top: 90px
		font-weight: normal
	p.lead
		color: #999
		font-size: 23px
		font-weight: 200


/**
 * ======================= message-bar =======================
 */
.msg-bar, .address-bar
	margin-top: 40px
	background-color: #ebebeb 
	margin-bottom: 50px
	padding: 20px 0

	p
		color: #999 // text color
		font-size: 22px
		margin: 0
		line-height: 44px

		strong
			color: #000

/**
 * ======================= address-bar =======================
 */
.address-bar
	+text-shadow(rgba(black, 0.6) 0px 1px 0)
	padding: 60px 0
	background: url("../img/address-bar-bg.jpg")
	a
		border: 6px solid white
		padding: 16px 32px
		font-size: 36px
		line-height: 100px
		color: white
		font-weight: bold
		text-decoration: none
		margin-bottom: 12px
		cursor: pointer

		&:hover
			background-color: white
			color: #666
	p
		color: white
		line-height: 30px
		margin-top: 12px

	.address
		font-size: 32px
		line-height: 40px
		font-weight: bold
	.phone,.email
		font-size: 27px

.modal
	width: 720px
	margin-left: -360px

	.pp-form
		width: 380px

	.pp-type
		margin-left: 20px
		width: 269px
		padding: 0 0px 0 20px
		border-left: 1px solid #efefef
	ul
		margin: 0
		padding: 0
		list-style: none

		li.active
			background: #9b59b6
		li
			cursor: pointer
			font-size: 90%
			font-weight: bold
			color: #8e44ad
			padding: 12px 8px
			background: #f6f6f6
			margin-bottom: 6px
			+border-radius(4px, 4px)

			i
				color: #ddd
				font-size: 120%
				line-height: 20px
				float: right


			&:hover
				background: #9b59b6
				color: white

				i
					color: white



@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
	.address-bar
		background: url("../img/address-bar-bg@2x.jpg") repeat top left
		background-size: 101px 101px

	header
		background: url("../img/header-bg@2x.jpg") repeat top left
		background-size: 503px 545px


@media (min-width: 1170px)
	.navbar
		.container
			width: 1170px

@media (min-width: 980px) and (max-width: 1169px) 
	.navbar
		.container
			width: 960px

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) 
	.navbar
		.container
			width: auto
	.item
		.icon-stack-base 
			font-size: 2.4em
			margin-top: 5px

		.icon-large
			font-size: 0.9em
			margin-top: 5px

		.icon-tablet
			font-size: 115%
		
		.icon-list-alt
			font-size: 95%

		.icon-search
			font-size: 90%
			margin-top: 3px

		.icon-shopping-cart
			font-size: 95%
			margin-top: 4px
			margin-left: 0px

		.icon-envelope
			font-size: 85%
			margin-top: 3px
			margin-left: 0px

		.icon-print
			font-size: 90%
			margin-top: 4px
			margin-left: 0px

		.icon-facebook
			font-size: 90%

	.msg-bar
		.btn
			margin-top: 24px

	.works
		.description
			h3
				font-size: 18px
				margin-top: 6px
			p
				font-size: 14px

	.featurette
		text-align: center
		img
			float: none
		h2
			margin-top: 60px

		&:last-child
			border-bottom: none
			margin-bottom: 0

	

/* Landscape phone to portrait tablet */
@media (max-width: 767px)

	body
		padding: 0

	.page-header
		h3
			font-size: 24px

	.navbar
		.navbar-inner
			padding-top: 30px
		.container
			width: auto
	.container
		padding: 0 10px

	.jumbotron
		margin-top: 0
		margin-bottom: 50px
		h2
			font-size: 28px
	
	.msg-bar
		.btn
			display: block
			width: 100%

	#contact
		a
			display: block
			padding: 0px 20px

	.item
		text-align: center

		p
			font-size: 18px
			margin-bottom: 30px
		h4
			font-size: 24px
			margin-top: 74px
			margin-bottom: 10px

		.icon-stack-base 
			font-size: 8em
			margin-top: 4px

		.icon-large
			font-size: 2.4em
			margin-top: 30px

		.icon-tablet
			font-size: 3.2em
			margin-top: 26px

		.icon-search
			margin-top: 24px

		.icon-envelope
			font-size: 2.4em
			margin-top: 28px
			margin-left: 0px

		.icon-print
			margin-top: 28px
			margin-left: 0px

	.featurette
		text-align: center

		img
			float: none
		h2
			margin-top: 40px
			font-size: 28px
		p.lead
			font-size: 20px
			margin-bottom: 60px

		&:last-child
			border-bottom: none
			margin-bottom: 0

/* Landscape phones and down */
@media (max-width: 480px)

	body
		padding: 0

	.page-header
		h3
			font-size: 24px

	.navbar
		.navbar-inner
			padding-top: 30px
		.container
			width: auto
	.container
		padding: 0 10px

	.jumbotron
		margin-top: 0
		h2
			font-size: 28px
	
	.msg-bar
		.btn
			display: block
			width: 100%

	#contact
		a
			display: block
			padding: 0px 20px

	.item
		text-align: center

		p
			font-size: 18px
			margin-bottom: 30px
		h4
			font-size: 24px
			margin-top: 74px
			margin-bottom: 10px

		.icon-stack-base 
			font-size: 8em
			margin-top: 4px

		.icon-large
			font-size: 2.4em
			margin-top: 30px

		.icon-tablet
			font-size: 3.2em
			margin-top: 26px

		.icon-search
			margin-top: 24px

		.icon-envelope
			font-size: 2.4em
			margin-top: 28px
			margin-left: 0px

		.icon-print
			margin-top: 28px
			margin-left: 0px

	.featurette
		text-align: center

		img
			float: none
		h2
			margin-top: 40px
			font-size: 28px
		p.lead
			font-size: 20px
			margin-bottom: 60px

		&:last-child
			border-bottom: none
			margin-bottom: 0



