@import url(http://fonts.googleapis.com/css?family=Lato:400);
/* line 6, ../sass/screen.sass */
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 9, ../sass/screen.sass */
body > hr {
  margin: 60px 0;
}

/*
 * ======================= overide bootstrap =======================
 */
/* line 16, ../sass/screen.sass */
.btn {
  -webkit-border-radius: 0 0;
  -moz-border-radius: 0 / 0;
  border-radius: 0 / 0;
}

/* line 19, ../sass/screen.sass */
.btn-purple {
  border: 1px solid #4b1770;
  color: white;
  position: relative;
  z-index: 2;
  width: 163px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #8827cc), color-stop(100%, #a937e4));
  background-image: -webkit-linear-gradient(bottom, #8827cc 0%, #a937e4 100%);
  background-image: -moz-linear-gradient(bottom, #8827cc 0%, #a937e4 100%);
  background-image: -o-linear-gradient(bottom, #8827cc 0%, #a937e4 100%);
  background-image: linear-gradient(bottom, #8827cc 0%, #a937e4 100%);
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0;
  -webkit-border-radius: 0 0;
  -moz-border-radius: 0 / 0;
  border-radius: 0 / 0;
}
/* line 30, ../sass/screen.sass */
.btn-purple:hover {
  background-color: #8827cc;
  color: #f2f2f2;
}
/* line 35, ../sass/screen.sass */
.btn-purple:active:before {
  height: 0px;
}
/* line 39, ../sass/screen.sass */
.btn-purple:before {
  content: " ";
  position: absolute;
  background-color: rgba(39, 39, 39, 0.22);
  height: 4px;
  margin-top: 31px;
  margin-left: -52px;
  width: 212px;
}

/* line 50, ../sass/screen.sass */
.page-header h3 {
  font-weight: 400;
}
/* line 52, ../sass/screen.sass */
.page-header span {
  font-weight: 300;
  color: #888888;
  font-size: 18px;
}

/* line 57, ../sass/screen.sass */
.thumbnail {
  -webkit-border-radius: 0 0;
  -moz-border-radius: 0 / 0;
  border-radius: 0 / 0;
  position: relative;
  overflow: hidden;
}
/* line 62, ../sass/screen.sass */
.thumbnail .description {
  border: 1x solid #9622d0;
  display: block;
  position: absolute;
  top: -600px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(150, 34, 208, 0.9);
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
/* line 74, ../sass/screen.sass */
.thumbnail .description h3, .thumbnail .description p {
  margin: 40px 20px 0 20px;
  color: white;
}
/* line 77, ../sass/screen.sass */
.thumbnail .description p {
  font-size: 16px;
  margin-top: 0px;
  color: #ddb2f2;
}
/* line 84, ../sass/screen.sass */
.thumbnail:hover .description {
  top: 0;
}

/* line 88, ../sass/screen.sass */
a.thumbnail:hover, a.thumbnail:focus {
  border: 1px solid #9622d0;
}

/*
 * ======================= header =======================
 */
/* line 100, ../sass/screen.sass */
header {
  color: white;
  overflow: hidden;
  position: relative;
  background: url("../img/header-bg.jpg");
  margin-bottom: 40px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0;
}
/* line 108, ../sass/screen.sass */
header:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 14px;
  bottom: 0;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
}
/* line 116, ../sass/screen.sass */
header .bg {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, color-stop(0%, rgba(255, 255, 155, 0.25)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(center bottom, 500px 450px, rgba(255, 255, 155, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-radial-gradient(center bottom, 500px 450px, rgba(255, 255, 155, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(center bottom, 500px 450px, rgba(255, 255, 155, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(center bottom, 500px 450px, rgba(255, 255, 155, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
}
/* line 123, ../sass/screen.sass */
header .bg:before {
  content: " ";
  background: url("../img/wind.png") center no-repeat;
  background-size: 90% auto;
  margin-top: 150px;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*
 * ======================= nav bar =======================
 */
/* line 138, ../sass/screen.sass */
.navbar .navbar-inner {
  padding-top: 50px;
  background: none;
  border: 0;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  -webkit-box-shadow: white 0 0 0;
  -moz-box-shadow: white 0 0 0;
  box-shadow: white 0 0 0;
}
/* line 145, ../sass/screen.sass */
.navbar .navbar-inner .container > a, .navbar .navbar-inner .nav > li > a {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0;
}
/* line 148, ../sass/screen.sass */
.navbar .navbar-inner .brand {
  font-weight: bold;
}

/*
 * ======================= jumbotron =======================
 */
/* line 155, ../sass/screen.sass */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
/* line 158, ../sass/screen.sass */
.jumbotron h2 {
  font-size: 38px;
  line-height: 1.2;
  font-weight: bold;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}
/* line 164, ../sass/screen.sass */
.jumbotron .lead {
  font-size: 21px;
  line-height: 2;
  color: #de9ffc;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}
/* line 170, ../sass/screen.sass */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  padding-top: 10px;
}

/*
 * ======================= services =======================
 */
/* line 180, ../sass/screen.sass */
.services .purple {
  color: #9622d0;
}
/* line 183, ../sass/screen.sass */
.services h4 {
  margin: 0 0 3px 0;
  color: #444444;
  font-size: 16px;
}
/* line 187, ../sass/screen.sass */
.services p {
  color: #666666;
  font-size: 14px;
  font-weight: 300;
}
/* line 192, ../sass/screen.sass */
.services .icon-stack {
  width: 100%;
}
/* line 195, ../sass/screen.sass */
.services .icon-stack-base {
  font-size: 3.4em;
  margin-top: 6px;
}
/* line 199, ../sass/screen.sass */
.services .icon-large {
  margin-top: 7px;
}
/* line 202, ../sass/screen.sass */
.services .icon-tablet {
  font-size: 130%;
  margin-top: 10px;
}
/* line 206, ../sass/screen.sass */
.services .icon-search {
  font-size: 110%;
  margin-top: 7px;
}
/* line 210, ../sass/screen.sass */
.services .icon-shopping-cart {
  font-size: 120%;
}
/* line 213, ../sass/screen.sass */
.services .icon-envelope {
  font-size: 105%;
}
/* line 216, ../sass/screen.sass */
.services .icon-print {
  font-size: 120%;
  margin-left: 1px;
}
/* line 220, ../sass/screen.sass */
.services .icon-facebook {
  font-size: 120%;
}
/* line 223, ../sass/screen.sass */
.services .item {
  margin-bottom: 15px;
}
/* line 226, ../sass/screen.sass */
.services .item:hover {
  cursor: pointer;
}
/* line 228, ../sass/screen.sass */
.services .item:hover .purple {
  color: #666666;
}

/*
 * ======================= method =======================
 */
/* line 234, ../sass/screen.sass */
.featurette {
  border-bottom: 1px solid #efefef;
  margin-bottom: 80px;
}
/* line 238, ../sass/screen.sass */
.featurette h2 {
  margin-top: 90px;
  font-weight: normal;
}
/* line 241, ../sass/screen.sass */
.featurette p.lead {
  color: #999999;
  font-size: 23px;
  font-weight: 200;
}

/*
 * ======================= message-bar =======================
 */
/* line 250, ../sass/screen.sass */
.msg-bar, .address-bar {
  margin-top: 40px;
  background-color: #ebebeb;
  margin-bottom: 50px;
  padding: 20px 0;
}
/* line 256, ../sass/screen.sass */
.msg-bar p, .address-bar p {
  color: #999999;
  font-size: 24px;
  margin: 0;
  line-height: 44px;
}
/* line 262, ../sass/screen.sass */
.msg-bar p strong, .address-bar p strong {
  color: black;
}

/*
 * ======================= address-bar =======================
 */
/* line 268, ../sass/screen.sass */
.address-bar {
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0;
  padding: 60px 0;
  background: url("../img/address-bar-bg.jpg");
}
/* line 272, ../sass/screen.sass */
.address-bar a {
  border: 6px solid white;
  padding: 16px 32px;
  font-size: 36px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 12px;
  cursor: pointer;
}
/* line 283, ../sass/screen.sass */
.address-bar a:hover {
  background-color: white;
  color: #666666;
}
/* line 286, ../sass/screen.sass */
.address-bar p {
  color: white;
  line-height: 30px;
  margin-top: 12px;
}
/* line 291, ../sass/screen.sass */
.address-bar .address {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}
/* line 295, ../sass/screen.sass */
.address-bar .phone, .address-bar .email {
  font-size: 27px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 300, ../sass/screen.sass */
  .address-bar {
    background: url("../img/address-bar-bg@2x.jpg") repeat top left;
    background-size: 101px 101px;
  }

  /* line 304, ../sass/screen.sass */
  header {
    background: url("../img/header-bg@2x.jpg") repeat top left;
    background-size: 503px 545px;
  }
}
@media (min-width: 1170px) {
  /* line 311, ../sass/screen.sass */
  .navbar .container {
    width: 1170px;
  }
}
@media (min-width: 980px) and (max-width: 1169px) {
  /* line 316, ../sass/screen.sass */
  .navbar .container {
    width: 960px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 322, ../sass/screen.sass */
  .navbar .container {
    width: auto;
  }

  /* line 325, ../sass/screen.sass */
  .item .icon-stack-base {
    font-size: 2.4em;
    margin-top: 5px;
  }
  /* line 329, ../sass/screen.sass */
  .item .icon-large {
    font-size: 0.9em;
    margin-top: 5px;
  }
  /* line 333, ../sass/screen.sass */
  .item .icon-tablet {
    font-size: 115%;
  }
  /* line 336, ../sass/screen.sass */
  .item .icon-list-alt {
    font-size: 95%;
  }
  /* line 339, ../sass/screen.sass */
  .item .icon-search {
    font-size: 90%;
    margin-top: 3px;
  }
  /* line 343, ../sass/screen.sass */
  .item .icon-shopping-cart {
    font-size: 95%;
    margin-top: 4px;
    margin-left: 0px;
  }
  /* line 348, ../sass/screen.sass */
  .item .icon-envelope {
    font-size: 85%;
    margin-top: 3px;
    margin-left: 0px;
  }
  /* line 353, ../sass/screen.sass */
  .item .icon-print {
    font-size: 90%;
    margin-top: 4px;
    margin-left: 0px;
  }
  /* line 358, ../sass/screen.sass */
  .item .icon-facebook {
    font-size: 90%;
  }

  /* line 362, ../sass/screen.sass */
  .msg-bar .btn {
    margin-top: 24px;
  }

  /* line 367, ../sass/screen.sass */
  .works .description h3 {
    font-size: 18px;
    margin-top: 6px;
  }
  /* line 370, ../sass/screen.sass */
  .works .description p {
    font-size: 14px;
  }

  /* line 373, ../sass/screen.sass */
  .featurette {
    text-align: center;
  }
  /* line 375, ../sass/screen.sass */
  .featurette img {
    float: none;
  }
  /* line 377, ../sass/screen.sass */
  .featurette h2 {
    margin-top: 60px;
  }
  /* line 380, ../sass/screen.sass */
  .featurette:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 389, ../sass/screen.sass */
  body {
    padding: 0;
  }

  /* line 393, ../sass/screen.sass */
  .page-header h3 {
    font-size: 24px;
  }

  /* line 397, ../sass/screen.sass */
  .navbar .navbar-inner {
    padding-top: 30px;
  }
  /* line 399, ../sass/screen.sass */
  .navbar .container {
    width: auto;
  }

  /* line 401, ../sass/screen.sass */
  .container {
    padding: 0 10px;
  }

  /* line 404, ../sass/screen.sass */
  .jumbotron {
    margin-top: 0;
    margin-bottom: 50px;
  }
  /* line 407, ../sass/screen.sass */
  .jumbotron h2 {
    font-size: 28px;
  }

  /* line 411, ../sass/screen.sass */
  .msg-bar .btn {
    display: block;
    width: 100%;
  }

  /* line 416, ../sass/screen.sass */
  #contact a {
    display: block;
    padding: 0px 20px;
  }

  /* line 420, ../sass/screen.sass */
  .item {
    text-align: center;
  }
  /* line 423, ../sass/screen.sass */
  .item p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  /* line 426, ../sass/screen.sass */
  .item h4 {
    font-size: 24px;
    margin-top: 74px;
    margin-bottom: 10px;
  }
  /* line 431, ../sass/screen.sass */
  .item .icon-stack-base {
    font-size: 8em;
    margin-top: 4px;
  }
  /* line 435, ../sass/screen.sass */
  .item .icon-large {
    font-size: 2.4em;
    margin-top: 30px;
  }
  /* line 439, ../sass/screen.sass */
  .item .icon-tablet {
    font-size: 3.2em;
    margin-top: 26px;
  }
  /* line 443, ../sass/screen.sass */
  .item .icon-search {
    margin-top: 24px;
  }
  /* line 446, ../sass/screen.sass */
  .item .icon-envelope {
    font-size: 2.4em;
    margin-top: 28px;
    margin-left: 0px;
  }
  /* line 451, ../sass/screen.sass */
  .item .icon-print {
    margin-top: 28px;
    margin-left: 0px;
  }

  /* line 455, ../sass/screen.sass */
  .featurette {
    text-align: center;
  }
  /* line 458, ../sass/screen.sass */
  .featurette img {
    float: none;
  }
  /* line 460, ../sass/screen.sass */
  .featurette h2 {
    margin-top: 40px;
    font-size: 28px;
  }
  /* line 463, ../sass/screen.sass */
  .featurette p.lead {
    font-size: 20px;
    margin-bottom: 60px;
  }
  /* line 467, ../sass/screen.sass */
  .featurette:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* line 474, ../sass/screen.sass */
  body {
    padding: 0;
  }

  /* line 478, ../sass/screen.sass */
  .page-header h3 {
    font-size: 24px;
  }

  /* line 482, ../sass/screen.sass */
  .navbar .navbar-inner {
    padding-top: 30px;
  }
  /* line 484, ../sass/screen.sass */
  .navbar .container {
    width: auto;
  }

  /* line 486, ../sass/screen.sass */
  .container {
    padding: 0 10px;
  }

  /* line 489, ../sass/screen.sass */
  .jumbotron {
    margin-top: 0;
  }
  /* line 491, ../sass/screen.sass */
  .jumbotron h2 {
    font-size: 28px;
  }

  /* line 495, ../sass/screen.sass */
  .msg-bar .btn {
    display: block;
    width: 100%;
  }

  /* line 500, ../sass/screen.sass */
  #contact a {
    display: block;
    padding: 0px 20px;
  }

  /* line 504, ../sass/screen.sass */
  .item {
    text-align: center;
  }
  /* line 507, ../sass/screen.sass */
  .item p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  /* line 510, ../sass/screen.sass */
  .item h4 {
    font-size: 24px;
    margin-top: 74px;
    margin-bottom: 10px;
  }
  /* line 515, ../sass/screen.sass */
  .item .icon-stack-base {
    font-size: 8em;
    margin-top: 4px;
  }
  /* line 519, ../sass/screen.sass */
  .item .icon-large {
    font-size: 2.4em;
    margin-top: 30px;
  }
  /* line 523, ../sass/screen.sass */
  .item .icon-tablet {
    font-size: 3.2em;
    margin-top: 26px;
  }
  /* line 527, ../sass/screen.sass */
  .item .icon-search {
    margin-top: 24px;
  }
  /* line 530, ../sass/screen.sass */
  .item .icon-envelope {
    font-size: 2.4em;
    margin-top: 28px;
    margin-left: 0px;
  }
  /* line 535, ../sass/screen.sass */
  .item .icon-print {
    margin-top: 28px;
    margin-left: 0px;
  }

  /* line 539, ../sass/screen.sass */
  .featurette {
    text-align: center;
  }
  /* line 542, ../sass/screen.sass */
  .featurette img {
    float: none;
  }
  /* line 544, ../sass/screen.sass */
  .featurette h2 {
    margin-top: 40px;
    font-size: 28px;
  }
  /* line 547, ../sass/screen.sass */
  .featurette p.lead {
    font-size: 20px;
    margin-bottom: 60px;
  }
  /* line 551, ../sass/screen.sass */
  .featurette:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}
