/*pricing*/
#pricing{
	
}
.pricing h1{
	text-align:center;
	padding-top:80px;
	padding-bottom:80px;
}
.tables{
	padding-bottom:97px;
}
.pt1{
	background:#fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,1,.75); 
	-moz-box-shadow: 0 1px 1px rgba(0,0,1,.75); 
	/*box-shadow: 0 1px 1px rgba(0,0,1,.75);*/
  box-shadow: 0 -5px 5px rgba(96, 17, 116, 0.75);
	text-align:center;
	color:#252525;
}
.pt1 h2{
	color:#252525;
	text-transform:uppercase;
	padding-top:29px;
	padding-bottom:29px;
}
.pt1 img{
	padding-bottom:30px;
}
.price{
	background:#03bd9c;
}

.prgreen:hover .button a{
	border:1px solid #03bd9c;
	background:#03bd9c;
	color:#fff;	
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;		
}

.price h1{
	font-size:60px;
	font-family: novecento-lt, arial;
	color:#fff;
	padding-top:29px;
	padding-bottom:6px;
}
.price p{
	font-size:16px;
	line-height:20px;
	color:#fff;
	padding-bottom:27px;
}
.content p{
	padding-top:22px;
	padding-bottom:22px;
	color:#252525;
	font-size:16px;
	padding-left:16px;
	padding-right:16px;
	line-height:24px;
	border-bottom:1px solid #cccccc;
}
.plan-features{
	padding-top:22px;
	padding-bottom:22px;
}
.plan-features p{
	line-height:24px;
}

.button a{
	color:#252525;
	font-size:16px;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
	padding-left: 30px;
	padding-right:30px;
	border:1px solid #ccc;
	display:inline-block;
	text-decoration:none;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;	
}
.button{
	padding-bottom:30px;
}
.price2{
	background:#e84d38;
}

.prred:hover .button a{
	border:1px solid #e84d38;
	background:#e84d38;
	color:#fff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;		
}

.price2 h1{
	font-size:60px;
	font-family: novecento-lt, arial;
	color:#fff;
	padding-top:29px;
	padding-bottom:6px;
}
.price2 p{
	font-size:16px;
	line-height:20px;
	color:#fff;
	padding-bottom:27px;
}
.price3{
	background:#33b9ff;
}

.prblue:hover .button a{
	border:1px solid #33b9ff;
	background:#33b9ff;
	color:#fff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;		
}

.price3 h1{
	font-size:60px;
	font-family: novecento-lt, arial;
	color:#fff;
	padding-top:29px;
	padding-bottom:6px;
}
.price3 p{
	font-size:16px;
	line-height:20px;
	color:#fff;
	padding-bottom:27px;
}
.price4{
	background:#daac54;
}

.prgolden:hover .button a{
	border:1px solid #daac54;
	background:#daac54;
	color:#fff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;		
}

.price4 h1{
	font-size:60px;
	font-family: novecento-lt, arial;
	color:#fff;
	padding-top:29px;
	padding-bottom:6px;
}
.price4 p{
	font-size:16px;
	line-height:20px;
	color:#fff;
	padding-bottom:27px;
}

/*pricing end*/


@media (min-width: 980px) and (max-width: 1199px) {
	.button a {
		padding-left: 10px;
		padding-right: 10px;
	}	
}	


@media (min-width: 768px) and (max-width: 979px) {
	.price h1,.price2 h1,.price3 h1,.price4 h1 {
		font-size: 40px;
	}	
	.price p,.price2 p,.price3 p,.price4 p {
		font-size: 15px;
	}	
	.button a {
		font-size: 14px;
		padding-left: 5px;
		padding-right: 5px;
	}	
}	


@media (min-width: 768px) {

	.prblock:hover{
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-moz-box-shadow:3px 5px 7px rgba(0,0,0,.7);
		-webkit-box-shadow: 3px 5px 7px rgba(0,0,0,.7);
		box-shadow:3px 5px 7px rgba(0,0,0,.7);
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;	
	}

	.prblock{
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}
}

@media (max-width: 767px) {
	body{
		padding-left:0px;
		padding-right:0px;
	}
	.pricing h1 {
		padding-top: 50px;
		padding-bottom: 10px;
	}	
	.prblock{
		padding-top:60px;
	}
	.tables {
		padding-bottom: 60px;
	}

	.paddingcnt{
		padding:0 20px;
	}	

}	